*{
    border:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: unset;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    list-style: none;
  }

header {
    display: flex;
   background-color:chocolate;
   height: 6rem;
}

h3 {
    font-size:22px;
    margin-top: 2.2rem;
}

body {
     background: url(../img/p-k-picture-world-9N0Cw7jVlW4-unsplash.jpg) no-repeat center / cover;
     height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    }

nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 84vw;
    margin-top: .1rem;
}

p {
    margin-top: 90vh;
}
