*{
    border:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: unset;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    list-style: none;
  }

header {
    display: flex;
   background-color:chocolate;
   height: 6rem;
}

h3 {
    font-size:20px;
    margin-top: 1.7rem;
}

body {
     background: url(../img/p-k-picture-world-9N0Cw7jVlW4-unsplash.jpg) no-repeat center / cover;
     height: 100vh;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    width: 84vw;
    align-items: space-around;
}

p {
    margin-bottom: 1rem;
}
